body {
    color: rgb(181, 20, 202);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Merienda", cursive;
    margin-bottom: 100px;
}

header {
   border-bottom: solid 2px rgb(61, 29, 202);
   padding: 20px;
   font-size: 32px; 
   color: rgb(60, 30, 196);
}

.chamada {
   background: rgb(204, 83, 252);
   padding-bottom: 80px;
   padding-top: 8-px;
   display: flex;
   justify-content: center;
}

. chamada-texto {
     margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
  font-size: 20px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
