body {
    color: rgb(170, 83, 252);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Merienda", cursive;
    margin-bottom: 100px;
}

header {
   border-bottom: solid 2px rgb(60, 30, 196);
   padding: 20px;
   font-size: 32px; 
   color: rgb(60, 30, 196);
}

.chamada {
   background: rgb(170, 83, 252)
   padding-bottom: 80px;
   padding-top: 8-px;
   display: flex;
   justify-content: center;
}

. chamada-texto {
     margin-right: 5%;
}

h1 {
    font-size: 40px;
}
