body {
    color: rgb(170, 83, 252);
    background: black;
    margin: 0px;
    font-family: "Merienda", cursive;
    margin-bottom: 100px;
}

header {
   border-bottom: solid 2px rgb(60, 30, 196);
   padding: 20px;
   font-size: 32px; 
   color: rgb(60, 30, 196);
}






